body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

}
.content {
    flex: 1;
    margin-top: 60px;
    padding: 20px;
    padding-bottom: 100px;
}

footer {
    margin-top: auto;
}
.row img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    background-color: #f8f9fa;
    border-radius: 8px;
}
p {
    padding-top:10px;
    font-size:20px;
}
.content h1 {
    font-size:50px;
    padding-top: 50px;
}
.navbar .navbar-brand {
    font-size: 25px;
}

.navbar-nav li {
    font-size:20px;
} 